angr==9.3.3
angr-data==0.1.0.post1
annotated-types==0.8.0
anyio==4.14.2
archinfo==9.3.3
arpy==1.1.1
attrs==26.1.0
binary2strings==0.1.13
binwalk3==3.1.3
bitarray==3.11.0
bitstring==4.4.0
cachetools==7.1.8
capstone==5.0.9
cart==1.2.3
certifi==2026.7.22
cffi==2.1.1
claripy==9.3.3
cle==9.3.3
click==8.5.0
colorama==0.4.6
cryptography==50.0.1
cxxfilt==0.3.0
cxxheaderparser==2.0.0
dncil==1.0.2
dnfile==0.18.0
flare-capa==9.4.0
flare-floss==3.1.1
frida==17.17.0
frida-tools==14.10.4
funcy==2.0
future==1.0.0
gitdb==4.0.12
GitPython==3.1.61
h11==0.16.0
halo==0.0.31
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
humanize==4.16.0
ida-hcli==0.20.1
ida-netnode==3.0
ida-settings==3.5.1
idapro==0.0.10
idna==3.19
intervaltree==3.2.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kaitaistruct==0.11
lief==1.0.0
lmdb==2.1.1
log-symbols==0.0.14
markdown-it-py==4.2.0
mcp==1.29.1
mdurl==0.1.2
miasm==0.1.5
minidump==0.0.24
mpmath==1.3.0
msgpack==1.2.2
msgspec==0.21.1
mulpyplexer==0.9
networkx==3.1
packaging==26.3
pefile==2024.8.26
platformdirs==4.11.7
prompt_toolkit==3.0.53
protobuf==7.36.1
psutil==7.2.2
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
pydemumble==0.1.3
pyelftools==0.33
Pygments==2.21.0
PyJWT==2.13.0
pyparsing==2.4.7
pypcode==4.0.0
python-dotenv==1.2.3
python-flirt==0.10.0
python-multipart==0.0.32
pyvex==9.3.3
pyxbe==1.0.4
pyxdia==0.1.1
PyYAML==6.0.3
questionary==2.1.1
referencing==0.37.0
rich==15.0.0
rich-click==1.9.8
rpds-py==2026.6.3
ruamel.yaml==0.19.1
scapy==2.7.0
semantic-version==2.10.0
six==1.17.0
smmap==5.0.3
sortedcontainers==2.4.0
spinners==0.0.24
sse-starlette==3.4.8
starlette==1.6.0
sympy==1.14.0
tabulate==0.10.0
tenacity==9.1.4
termcolor==3.3.0
tibs==0.5.7
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uefi_firmware==1.16
unicorn==2.1.4
uvicorn==0.52.4
viv_utils==0.8.1
vivisect==1.3.2
volatility3==2.28.0
wcwidth==0.8.3
websockets==13.1
xmltodict==1.0.4
yara-python==4.5.4
z3-solver==4.13.0.0
